.info-window {
  text-align: center;
  font-family: 'Rajdhani', sans-serif;
  padding-left: 15px;
}

.info-window__title {
  font-size: 1.5em;
}

.info-window__details {
  font-size: 1.2em;
  padding: 0 0 10px 10px;
  font-weight: bold;
}

.icon {
  margin: 10px 15px 15px;
  height: 64px;
}

@media only screen and (max-width: 700px) {
  .info-window__title {
    font-size: 1.3em;
  }
  .info-window__icon {
    margin: 0 10px 10px;
    height: 45px;
  }
  .info-window__details {
    padding-bottom: 5px;
    font-size: 1.1em;
  }
}