.search-form {
  position: relative;
  padding: 20px;
}

.search-form__label {
  position: absolute;
  top: 35px;
  left: 50px;
  z-index: 1;
  transition: all 0.3s;
  font-size: 0.9em;
}

.search-form__input {
  width: 100%;
  padding: 20px 20px 10px 30px;
  border: none;
  height: 50px;
  border-radius: 2px;
  border-bottom: 2px solid rgb(219, 219, 219);
  box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.1);
}

.search-form__input:focus+.search-form__label, .search-form__input:valid+.search-form__label {
  top: 23px;
  left: 30px;
  font-size: 0.75em;
  color: #d68203;
}