.App {
  margin: 40px;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.3);
}

/***** HEADER *****/

.header {
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid rgb(238, 238, 238);
  position: relative;
  padding: 0 20px 0 80px;
  box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.1);
  background-color: #fff;
}

.header__title {
  font-size: 2.2em;
  text-align: center;
  font-weight: normal;
}

/***** MAIN *****/

.wrapper {
  display: flex;
  height: calc(100vh - 160px);
  background-color: #fff;
}

/* Sidebar */

.sidebar {
  flex-basis: 300px;
  overflow-y: scroll;
}

/* Map */

.map {
  flex: 1;
  position: relative;
}

/***** FOOTER *****/

.footer {
  position: absolute;
  bottom: 10px;
  right: 40px;
}

.footer__copyrights {
  color: #fff;
  font-size: 0.9em;
}

@media only screen and (max-width: 850px) {
  .App {
    margin: 0;
    height: 100vh;
  }
  .header__title {
    font-size: 1.8em;
  }
  .wrapper {
    height: calc(100vh - 80px);
  }
  .footer__copyrights {
    color: #000;
    background-color: #fff;
    padding: 5px 5px 5px 20px;
  }
  .footer {
    bottom: 0;
    right: 0;
  }
}

@media only screen and (max-width: 700px) {
  .header__title {
    font-size: 1.5em;
  }
  .wrapper {
    flex-direction: column;
  }
  .map {
    order: -1;
  }
  .footer__copyrights {
    font-size: 0.7em;
  }
}