html {
  box-sizing: border-box
}

*, *::before, *::after {
  box-sizing: inherit;
  outline-color: #d68203;
}

body, ul, p {
  margin: 0;
  padding: 0;
  font-family: "Lato";
  color: #555;
}

.list {
  list-style: none;
}

body {
 background-color: #555;
}

.App {
  margin: 40px;
  box-shadow: 0 5px 20px rgba(0,0,0, 0.3);
}

.header {
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid rgb(238, 238, 238);
  position: relative;
  padding: 0 20px 0 80px;
  box-shadow: 0 5px 20px 0 rgba(0,0,0, 0.1);
  background-color: #fff;
}

.header-title {
  font-size: 30px;
  text-align: center;
  font-weight: normal;
}

.wrapper {
  display: flex;
  height: calc(100vh - 160px);
  background-color: #fff;
}

button {
  position: absolute;
  top: 25px;
  left: 30px;
  background-image: url('./utils/icons/menu.png');
  height: 32px;
  width: 32px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.side-list {
  flex-basis: 300px;
  overflow-y: scroll;
}


.map {
  flex: 1;
  position: relative;
}

.api-failure {
  height: calc(100vh - 160px);
  background-color: #fff;
  display: flex;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 26px;
}

.api-failure p {
  padding: 5px 20px;
}

.list-item {
  padding: 20px 20px 20px 50px;
  color: #333;
  font-size: 14px;
  cursor: pointer;
  transition: all 0.3s;
  border-bottom: 1px solid rgb(219, 219, 219);
}

.list-item:first-child {
  border-top: 1px solid rgb(219, 219, 219);
}

.list-item:hover, 
.list-item:focus {
  background-color: #fcaf20;
  padding-left: 70px;
}

.list-item:last-child {
  border-bottom: none;
}

.search { 
  width: 100%;
  height: 40px;
  padding: 20px 20px 10px 30px;
  border: none;
  height: 50px;
  border-radius: 2px;
  border-bottom: 2px solid rgb(219, 219, 219);
  box-shadow: 0 5px 20px 0 rgba(0,0,0, 0.1);
}

.search-label {
  position: absolute;
  top: 35px;
  left: 55px;
  z-index: 1;
  transition: all 0.3s;
  font-size: 14px;
}

.search-form {
  position: relative;
  padding: 20px;
}

.search:focus + .search-label, .search:valid + .search-label 	 {
  top: 23px;
  left: 30px;
  font-size: 12px;
  color: #d68203;
}

.footer {
  position: absolute;
  bottom: 10px;
  right: 40px;

}

.footer p {
  color: #fff;
  font-size: 13px;
}

.alert-icon,
.food-icon {
  background-image: url('./utils/icons/dish.png');
  background-position: center;
  background-repeat: no-repeat;
  margin: 10px;
  height: 64px;
  width: 90%;
}

.alert-icon {
  background-image: url('./utils/icons/warning.png');
  width: 64px;
}


.info-window {
  text-align: center;
}

.info-window-title {
  font-size: 20px;
  padding-left: 10px;
}

.info-window-details {
  font-size: 16px;
  padding: 0 0 10px 10px;
  font-weight: bold;
}
